*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forgot-password-form input::placeholder{
    text-indent: 14px;
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}
.forgot-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#forgot-password-heading{
    padding-bottom: 8px;
    color: #219653;
    text-align: center;
    font-size: 30px;
}
#forgot-password-introduction{
    padding-bottom: 30px;
    color: #757575;
    text-align: center;
    font-size: 16px;
}
.forgot-password img{
    margin: 10px 0 0 10px;
}
.forgot-password-content{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px 0 15px 0;
}
.forgot-password-form input{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 14px;
    border: 1px solid #6FCF9780;
    outline: none;
}
button {
    border: 1px solid #34A853;
    background-color: #34A853;    
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 42px;
    transition: background-color 0.3s ease
}

button:hover{
    background-color: #219653
}
#log-in-opt{
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
    font-size: 14px;
    color: #9CA3AF;
    transition: color 0.3s ease;
    margin-bottom: 30px; 
}
#log-in-opt:focus{
    outline: none;
}
#log-in-opt a{
    color: #34A853;
    text-decoration: none;
    cursor: pointer; 
    font-weight: 500;
    margin-left: 5px;
}
#log-in-opt a:hover{
    color: #219653;
}
.alrightrev{
    text-align: center;
    font-size: 10px;
    color: #9CA3AF;
}
.email-error-message{
    color: red;
    display: none;
    font-size: 10px;
    margin-top: -8px;  
    text-indent: 5px;  
}
#send-otp-btn:disabled {
    cursor: not-allowed;
}

#loader {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #34A853;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.message-container {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: right 1s ease-out;
    z-index: 1000;
}
.message-container p {
    margin: 0;
    font-size: 16px;
}
.message-container.hidden {
    display: none;
}
.message-container.show {
    right: 20px;
}
.message-icon.error {
    background-color: #f44336;
}
.message-icon.success {
    background-color: #4CAF50;
}
.message-container i {
    margin-right: 10px;
}


