*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  position: relative;
  z-index: 50;
}
.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  position: sticky;
  top: 10px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .1);
}
.user{
  background-color: #757575;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav ul a{
  text-decoration: none;
  color: #4B5563;
}
.header-nav ul a:hover{
  border-bottom: 2px solid #16A34A;
  padding-bottom: 6px;
}
.header-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.header-left-content{
  display: flex;
  align-items: center;
  gap: 20px;
}
.sign-up-button{
  padding: 12px;
  width: 100px;
  border-radius: 18px;
  border: 1px solid #16A34A;
  color: #16A34A;
  background: none;
  cursor: pointer;
}
i{
  cursor: pointer;
}
.user{
  display: none;
  cursor: pointer;
}
#sign-up-mobile{
    display: none;
}
#login-mobile{
    display: none;
}
.hamburger{
  display: none;
}
/* Logout modal */
#confirmLogout:hover, #cancelLogout:hover {
  background-color: #eb7a18;
}
.modal {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal-content {
  background-color: rgb(211, 206, 206);
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
  text-align: center;
}
#confirmLogout, #cancelLogout{
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #F2994A;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
/* Cartcounter */
.cart-container{
  position: relative;
}
.header-left-content .cart-count {
  position: absolute;
  top: -15px;
  right: -10px; 
  background-color: red; 
  height:20px;
  width: 5px;
  color: white;  
  border-radius: 50%;  
  padding: 2px 8px; 
  font-size: 8px; 
  font-weight: bold; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
/* Side dropdown*/
.dropdown-menu {
  position: fixed;
  top: 80px;
  right: -250px;
  width: 230px;
  height: 100vh;
  background-color: #F2994A;
  padding: 10px;
  z-index: 20;
  display: flex;
  justify-content: center;
  transition: right 0.3s ease; 
 }
 .dropdown-menu.showDropdown{
   right: 0;
 }
 .dropdown-menu ul {
   list-style: none;
   display: flex;
   gap: 3px;
   flex-direction: column;
 }
 .dropdown-menu ul li a{ 
   display: flex;
   align-items: center;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
   color: #fff;
   gap: 5px;
   transition: background-color 0.3s;
 }
 @media screen and (max-width:600px){
  body {
    padding-top: 50px; /* Adjust based on your navbar's height */
  }
  .sign-up-button{
    display: none;
    }
  #sign-up-mobile{
    display: block;
    padding: 8px;
    }
  #login-mobile{
    display: block;
    padding: 8px;
    width: 100px;
    border-radius: 18px;
    border: 1px solid #16A34A;
    color: #16A34A;
    background: none;
    cursor: pointer;
    }
    .header-nav ul a:hover{
      border-bottom: none;
    }  
  .header-nav ul{
    flex-direction: column;
    }
    .header-container{
      position: fixed;
      z-index: 100;
      background-color: white;
      top: 0;
      transition: all 0.5s;
      padding: 10px;
      padding-right: 30px;
      padding-top: 15px;
      justify-content: start;
      gap: 10px;
      height: 80px;

     }
     .header-logo img{
      width: 80%;
  }


  .header-left-content{
      gap: 10px;
      justify-content: center;
      align-items: center;

  }
    .header-nav{
      position: fixed;
      bottom: 0%;
      background-color: #F2994A;
      width: 100%;
      height: calc(100% - 80px);
      align-items: right;
      right: -500px; 
      transition: all 0.5s;
      cursor: pointer;
      justify-content: end;
      align-items: start;
      padding-right: 10px;
      padding-top: 40px;
      }
      .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        border: none;
        background-color: #fff;
        background:  0 0;
        z-index: 3;
      }
    .bar{
      position: absolute;
      top: 3px;
      background-color: #AFAFAF;
      width: 100%;
      height: 3px;
      transition: all .3s ease-in;
      }
    #bar2{
        top: 11px;
      }
    #bar3{
      top: 19px;
      }
    .header-nav.active{
        right: 0;
      } 
  
    .hamburger.open #bar1{
      background-color: #AFAFAF;
      transform: rotate(45deg) translate(6px, 5px);
    
      }
    .hamburger.open #bar2{
      background-color: transparent;
      }
    .hamburger.open #bar3{
      background-color: #AFAFAF;
      transform: rotate(-45deg) translate(6px, -5px);
      }
 }