 *{
    padding: none;
    margin: none;
    /* border: 1px solid green; */
 }

 body{
    background-color: white;
    font-family: Arial, sans-serif;
}
#container{
    margin-top: 30px;;
    margin-left: 3%;
    display: flex;
    flex-direction:  row;
    gap: 50px;
}
#form-container{
    width: 60%;
    display: flex;
    gap: 10px;
    background-color: white;
}
form{
    width: 100%;

}
label::after{
    content: "*";
    color: red;
}
#form-container input{
    width: 100%;
    background-color:  #e8eaece2;
    padding : 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#form-container textarea {
    width: 100%;
    background-color:  #f9fafb;
    padding : 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}
#payment-container{
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#cart-summary{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#shipping, #service-amount, #tax-amount, #subtotal, #total{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}
#shipping textarea{
    border: none;
}
#payment-mode-details{
    padding: 10px 10px;
    background-color: white;
    width: 100%;
}
#checkbox{
    margin: 10px;;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.payment-card{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#place-order-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color:  #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}





 

 