*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reset-form input::placeholder{
    text-indent: 14px;
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}
.reset-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#reset-heading{
    padding-bottom: 8px;
    color: #219653;
}
#reset-introduction{
    padding-bottom: 40px;
    color: #757575;
}
.reset img{
    margin: 10px 0 0 10px;
}
.reset-container-content{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px 0 60px 0;
    border: 1px solid rgba(0, 0, 0, .1);
}
.reset-form input{
    width: 350px;
    height: 50px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 14px;
    border: 1px solid #6FCF9780;
    outline: none;
}
#reset-button{
    margin-top: 12px;
    width: 350px;
    height: 42px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #34A853;
    background-color: #34A853;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    transition: background-color 0.3s ease
}
#reset-button:hover{
    background-color: #219653;
}
.alrightrev{
    text-align: center;
    font-size: 10px;
    color: #9CA3AF;
    margin-top: 50px;
}
#password-icon{
    margin-left: -10%;
}
#confirm-password-icon{
    margin-left: -10%;
}

/* MOBILE PHONE RESPONSIVENESS */
@media screen and (max-width: 600px){
    #reset-heading{
        font-size: 30px;
        width: 300px;
        text-align: center;
    }
       #reset-introduction{ 
        padding-bottom: 25px;
        font-size: 14px;
        width: 300px;
        text-align: center;
    }
    .reset-container-content{
        width: 95%;
        padding: 40px 20px 40px 20px;
    }
    .reset-form input{
        width: 300px;
    }
    #reset-button{
        width: 300px;
    }
    .alrightrev{
        text-align: center;
        font-size: 10px;
        color: #9CA3AF;
        /* margin-top: -10px;   */
    }
}